@model SlideX.Models.UserEditModel
@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.AdminEditTitle;
}
<h2>
    @SlideX.Localization.ViewPhrases.AdminEditTitle</h2>
@using (Html.BeginForm())
{
    <div class="well">
        @Html.ValidationSummary(true)
        <label class="checkbox">
            @Html.CheckBoxFor(model => Model.AdminStatus)
            @SlideX.Localization.ViewPhrases.AdminAdminLabel
        </label>
        <label class="checkbox">
            @Html.CheckBoxFor(model => Model.BannStatus)
            @SlideX.Localization.ViewPhrases.AdminBannedLabel
        </label>
        @Html.HiddenFor(model => model.UserId)
        <input class="btn" type="submit" value="@SlideX.Localization.ViewPhrases.EditButton" />
        @if (User.IsInRole("AdminUser"))
        {
            <table class="table">
                <tr>
                    <th>
                        @SlideX.Localization.ViewPhrases.TableTitleLabel
                    </th>
                    <th>
                        @SlideX.Localization.ViewPhrases.TableDescriptionLabel
                    </th>
                    <th>
                        @SlideX.Localization.ViewPhrases.TableOptionsLabel
                    </th>
                </tr>
                @foreach (var item in Model.FoundPresentations)
                {
                    <tr>
                        <td>
                            <code>@Html.DisplayFor(modelItem => item.Title)</code>
                        </td>
                        <td>
                            <blockquote>
                                @Html.DisplayFor(modelItem => item.Description)
                            </blockquote>
                        </td>
                        <td>
                            <a class="btn btn-success" href="@Url.Action("Preview", "UserPresentation", new { id = item.Id })" target = "_blank" >
                                @SlideX.Localization.ViewPhrases.TableViewButton </a><a class="btn btn-warning" href="@Url.Action("Editor", "UserPresentation", new { id = item.Id })">
                                    @SlideX.Localization.ViewPhrases.TableEditButton </a><a class="btn btn-primary" href="@Url.Action("Edit", "UserPresentation", new { id = item.Id })">
                                        @SlideX.Localization.ViewPhrases.TableChangeDescriptionButton</a> <a class="btn btn-info" href="@Url.Action("Details", "UserPresentation", new { id = item.Id })">
                                            @SlideX.Localization.ViewPhrases.TableDetailsButton</a> <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })">
                                                @SlideX.Localization.ViewPhrases.TableDeleteButton</a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div>
                @Html.ActionLink(@SlideX.Localization.ViewPhrases.PleaseLogIn, "LogOn", "Account")
            </div>
        }
    </div>
}