@model SlideX.Models.UserSearchModel
@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.AdminPanelTitle;
}
<h2>
    @SlideX.Localization.ViewPhrases.AdminPanelTitle
</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="well form-search">
        <div class=" input-medium search-query">
            @Html.EditorFor(model => model.SearchTemlate)
            <input type="submit" class="btn" value=@SlideX.Localization.ViewPhrases.FindButton /></div>
    </div>
    
}
@if (Model.FoundUsers.Count() != 0)
{
    <h4>
        @SlideX.Localization.ViewPhrases.UsersLabel</h4>
    <ul>
        @foreach (var item in Model.FoundUsers)
        {
            <li>
                @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
            </li>
        }
    </ul>
}
