@model SlideX.Models.ChangePasswordModel
@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.PasswordChangeTitle;
}
<h2>@SlideX.Localization.ViewPhrases.PasswordChangeTitle</h2>
<p>
    @SlideX.Localization.ViewPhrases.PasswordChangeInstruction
</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, @SlideX.Localization.ViewPhrases.PasswordValidationMessage)
    <div>
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword)
        @Html.ValidationMessageFor(m => m.OldPassword)
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
        @Html.ValidationMessageFor(m => m.NewPassword)
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        <p>
            <input type="submit" class="btn" value="Change Password" />
        </p>
    </div>
}
