@model SlideX.Models.LogOnModel
@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.LogOnTitle;
}
<h2>
    @SlideX.Localization.ViewPhrases.LogOnTitle
</h2>
<p>
    @SlideX.Localization.ViewPhrases.LogOnInstruction
     @Html.ActionLink(@SlideX.Localization.ViewPhrases.LogOnRegisterLink, "Register")
    
</p>
@Html.ValidationSummary(true, @SlideX.Localization.ViewPhrases.LogOnUsuccesfulLogin)
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName)
    @Html.ValidationMessageFor(m => m.UserName)
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)<br />
    <label class="checkbox">
        @Html.CheckBoxFor(m => m.RememberMe)
        @SlideX.Localization.ViewPhrases.LogOnRemember
    </label>
    <p>
        <input type="submit" class="btn-success" value=@SlideX.Localization.ViewPhrases.LogOnButton />
    </p>
}
