@model SlideX.Models.RegisterModel
@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.RegisterTitle;
}
<h2>
    @SlideX.Localization.ViewPhrases.RegisterTitle</h2>
<p>
    @SlideX.Localization.ViewPhrases.RegisterInstruction
</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true,@SlideX.Localization.ViewPhrases.RegisterValidationMessage)
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName)
    @Html.ValidationMessageFor(m => m.UserName)
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)
    @Html.ValidationMessageFor(m => m.ConfirmPassword)
    <p>
        <input type="submit" class="btn-success" value="Register" />
    </p>
}
