@model SlideX.Models.Presentation
@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.CreateTitle;
}
<h2>
    @SlideX.Localization.ViewPhrases.CreateTitle
</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <h4>
        @SlideX.Localization.ViewPhrases.TableTitleLabel
    </h4>
    @Html.EditorFor(model => model.Title) 
    <h4>
        @SlideX.Localization.ViewPhrases.TableDescriptionLabel
    </h4>
    @Html.EditorFor(model => model.Description) <br />
    <input class="btn btn-success" type="submit" value="@SlideX.Localization.ViewPhrases.CreateButton" />
}
<div>
    @Html.ActionLink(@SlideX.Localization.ViewPhrases.BackToList, "Index")
</div>
