@model SlideX.Models.Presentation
@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.DetailsTitle;
}
<h2>
    @SlideX.Localization.ViewPhrases.DetailsTitle</h2>
<h4>
   @SlideX.Localization.ViewPhrases.TableTitleLabel
</h4>
<code>@Html.DisplayFor(model => model.Title) </code>
<h4>
   @SlideX.Localization.ViewPhrases.TableDescriptionLabel
</h4>
<blockquote>
    @Html.DisplayFor(model => model.Description)
</blockquote>
<h4>
    @SlideX.Localization.ViewPhrases.Tagslabel
</h4>
<ul>
    @foreach (var tag in Model.Tags)
    {
        <li>
            @Html.ActionLink(tag.Name, "SearchByTag", "Search", new { id = tag.Name }, null)
        </li>
    }
</ul>
<p>
    @if (User.Identity.Name == Model.User.Name)
    {
        <a class="btn btn-warning" href="@Url.Action("Edit", new { id = Model.Id })"> @SlideX.Localization.ViewPhrases.TableEditButton</a>
    }
    <a class="btn" href="javascript:history.go(-1)">Go back</a>
</p>
