@model SlideX.Models.Presentation
@{
    ViewBag.Title = "Details";
}
<h2>
    Details</h2>
<fieldset>
    <legend>presentation</legend>
    <div class="display-label">
        UserId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>
    <div class="display-label">
        Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">
        Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
        Tags</div>
    <div class="display-field">
        <ul>
            @foreach (var tag in Model.Tags)
            {
               <li>@tag.Name</li>
            }
        </ul>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
