@model SlideX.Models.PresentationWithTagsModel
@{
    ViewBag.Title = "Edit";
}
<h2>
    Edit</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <h4>
        Title
    </h4>
    @Html.EditorFor(model => model.CurrentPresentation.Title)
    <h4>
        Description
    </h4>
    @Html.EditorFor(model => model.CurrentPresentation.Description)
    <h4>
        Tags
    </h4>
    <textarea id="textarea" name="TagsJson" rows="1"></textarea>
    @Html.HiddenFor(model => model.CurrentPresentation.Id)
    <input class="btn btn-success" type="submit" value="Save" />
}
    <a class="btn " href="@Url.Action("Index")">Back to list</a>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#textarea')
        .textext({
            plugins: 'autocomplete tags ajax',
            ajax: {
                url: '@Url.Action("GetTagsJson")',
                dataType: 'json',
                cacheResults: true
            },
            tags: {
                items: @Html.Raw(@Model.TagsJson)
            }
        });
        });
    </script>
}
