@model SlideX.Models.PresentationWithTagsModel
@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.EditTitle;
}
<h2>
    @SlideX.Localization.ViewPhrases.EditTitle
</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <h4>
        @SlideX.Localization.ViewPhrases.TableTitleLabel
    </h4>
    @Html.EditorFor(model => model.CurrentPresentation.Title)
    <h4>
        @SlideX.Localization.ViewPhrases.TableDescriptionLabel
    </h4>
    @Html.EditorFor(model => model.CurrentPresentation.Description)
    <h4>
        @SlideX.Localization.ViewPhrases.Tagslabel
    </h4>
    <textarea id="textarea" name="TagsJson" rows="1"></textarea>
    @Html.HiddenFor(model => model.CurrentPresentation.Id)
    <input class="btn btn-success" type="submit" value=  "@SlideX.Localization.ViewPhrases.SaveButton" />
}
<a class="btn " href="@Url.Action("Index")">@SlideX.Localization.ViewPhrases.BackToList</a>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#textarea')
        .textext({
            plugins: 'autocomplete tags ajax',
            ajax: {
                url: '@Url.Action("GetTagsJson")',
                dataType: 'json',
                cacheResults: true
            },
            tags: {
                items: @Html.Raw(@Model.TagsJson)
            }
        });
        });
    </script>
}
