@model IEnumerable<SlideX.Models.Presentation>
@{
    ViewBag.Title = "PresentationList";
}
<h2>
    PresentationList</h2>
@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
        
    
 
    <table>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Options
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                <button onclick="ViewSlides()" >Кнопка</button>
                    @Html.ActionLink("Edit Presentation", "Editor", new { id = item.Id }) |
                    @Html.ActionLink("Edit Information", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>
        Please, @Html.ActionLink("Log in", "LogOn", "Account")
    </div>
}
