@model IEnumerable<SlideX.Models.Presentation>
@{
    ViewBag.Title = "PresentationList";
}
<h2>
    PresentationList</h2>


@if (Request.IsAuthenticated)
{
    <p>
        
        <a class="btn btn-success btn-large" href="@Url.Action( "Create")" >Create</a>
    </p>
        
    
 
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Options
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
              <code>      @Html.DisplayFor(modelItem => item.Title)</code>
                </td>
                <td>
                 <blockquote>   @Html.DisplayFor(modelItem => item.Description) </blockquote>
                </td>
                <td>
                    <a class="btn btn-success" href="@Url.Action( "Preview", new { id = item.Id })" target = "_blank" >View</a>
                   <a class="btn btn-warning" href="@Url.Action( "Editor", new { id = item.Id })">Edit</a>
                    <a class="btn btn-primary" href="@Url.Action( "Edit", new { id = item.Id })">Change description</a>
                    <a class="btn btn-info" href="@Url.Action( "Details", new { id = item.Id })">Details</a>
                    <a class="btn btn-danger" href="@Url.Action( "Delete", new { id = item.Id })">Delete</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>
        Please, @Html.ActionLink("Log in", "LogOn", "Account")
    </div>
}
