@model IEnumerable<SlideX.Models.Presentation>
@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.PresentationListTitle;
}
<h2>
    @SlideX.Localization.ViewPhrases.PresentationListTitle
</h2>
@if (Request.IsAuthenticated)
{
    <p>
        <a class="btn btn-success btn-large" href="@Url.Action("Create")" >Create</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @SlideX.Localization.ViewPhrases.TableTitleLabel
            </th>
            <th>
                @SlideX.Localization.ViewPhrases.TableDescriptionLabel
            </th>
            <th>
                @SlideX.Localization.ViewPhrases.TableOptionsLabel
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <code>@Html.DisplayFor(modelItem => item.Title)</code>
                </td>
                <td>
                    <blockquote>
                        @Html.DisplayFor(modelItem => item.Description)
                    </blockquote>
                </td>
                <td>
                    <a class="btn btn-success" href="@Url.Action("Preview", new { id = item.Id })" target = "_blank" >
                        @SlideX.Localization.ViewPhrases.TableViewButton </a><a class="btn btn-warning" href="@Url.Action("Editor", new { id = item.Id })">
                            @SlideX.Localization.ViewPhrases.TableEditButton </a><a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.Id })">
                                @SlideX.Localization.ViewPhrases.TableChangeDescriptionButton</a> <a class="btn btn-info" href="@Url.Action("Details", new { id = item.Id })">
                                    @SlideX.Localization.ViewPhrases.TableDetailsButton</a> <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })">
                                        @SlideX.Localization.ViewPhrases.TableDeleteButton</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>
        Please, @Html.ActionLink(@SlideX.Localization.ViewPhrases.PleaseLogIn, "LogOn", "Account")
    </div>
}
