@model IEnumerable<SlideX.Models.Presentation>
@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.SearchByTagsTitle;
}
<h2>
    @SlideX.Localization.ViewPhrases.SearchByTagsTitle
</h2>

@if ((Model != null) && (Model.Count() != 0))
{
   <table class="table">
        <tr>
            <th>
                @SlideX.Localization.ViewPhrases.TableTitleLabel
            </th>
            <th>
                @SlideX.Localization.ViewPhrases.TableDescriptionLabel
            </th>
            <th>
                @SlideX.Localization.ViewPhrases.TableOptionsLabel
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <code>@Html.DisplayFor(modelItem => item.Title)</code>
                </td>
                <td>
                    <blockquote>
                        @Html.DisplayFor(modelItem => item.Description)
                    </blockquote>
                </td>
                <td>
                    <a class="btn btn-success" href="@Url.Action("Preview", "UserPresentation", new { id = item.Id })" target = "_blank" >
                        @SlideX.Localization.ViewPhrases.TableViewButton </a><a class="btn btn-info" href="@Url.Action("Details", "UserPresentation", new { id = item.Id })">
                            @SlideX.Localization.ViewPhrases.TableDetailsButton</a>
                </td>
            </tr>
        }
    </table>
}
